.event-post {
  margin-bottom: 40px;
}

.event-post .post-author {
  margin: 0;
}

.event-post .event-title {
  display: flex;
  justify-content: space-between;
}

.icons a.github {
  background: url(/images/icons/github.png) left top no-repeat;
  background-size: cover;
  margin-top: unset;
}
