{{ partial "head.html" . }}

<div class="site-wrap">
    {{ partial "header.html" . }}

    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <div class="post-header mb2">
                <h1 class="py2">{{ .Title }}</h1>

                {{ range sort (where .Data.Pages "Section" "events") ".Params.dated" }}
                 {{ .Render "event-li"}}
                {{ end }}
            </div>
            <div>
                <a href="https://github.com/AngularFun/angular.fun/blob/master/CONTRIBUTING.md" target="_blank">
                    Add event
                </a>
            </div>
        </div>
       
    </div>
</div>

{{ partial "footer.html" . }}